/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Your Name!
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
}

#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}

.button {
    background: none repeat scroll 0 0 #45ac9d;
}

#masthead nav ul {
	list-style-type: none;
	margin: 0;
}

.nav-menu {
	margin:0;
}

nav-menu ul li {
	float:left;
	margin:0 30px;
	text-transform:uppercase;
}

.site-header .site-navigation li {
	margin: 0 30px 0 0;
	display: inline;
	float: right;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-menu .current-menu-item >a,
.nav-menu .current_page_item > a {
	font-weight: bold;
}

/* Featured Work on homepage */

.featured-work {
	overflow:auto;
}
.featured-work h4 {
	font-size: 16px;
	font-family: 'Montserrat';
	text-transform: uppercase;
	text-align: center;
	margin:0 0 40px;
}
.featured-work ul {
	margin:0 auto;
}
.individual-featured-work {
	display: inline-block;
	float: left;
	list-style-type: none;
	width: 30%;
	padding: 0 24px 0 4px;
}	
.individual-featured-work h3 {
	text-align: center;
	font-size: 18px;
	font-weight: normal;
}

/* blog post on homepage */

.blog-post {
	width: 48%;
	float: left;
	padding: 0 0 1em 1em;
	word-wrap: break-word;
}
.blog-post h4 {
	font-size: 16px;
	font-family: 'Montserrat';
	color: #a6a6a6;
	text-transform: uppercase;
}
.blog-post h2 {
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: bold;
	padding-bottom: 20px;
}
.blog-post p {
    font-size: 16px;
    color: #818181;
}
.blog-post .read-more-link {
	font-size: 15px;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #45ac9d;
	text-transform: uppercase;
}
.recent-posts {
	overflow: hidden;
}

/* Social Sharing Icons */
.ssba {
  padding-top: 10px;
}

/* simple tweets on homepage */
.simple-tweets {
	padding: 2% 0 0 5%;
	width: 45%;
	float: right;
}
.simple-tweets h4 {
	clear: both;
	font-size: 16px;
	font-family: 'Montserrat';
	color: #a6a6a6;
	text-transform: uppercase;
}
ul.tweets li{
    color: #818181;
    font-style: normal;
}
.tweets {
    list-style: none;
    padding-top: 30px;
}
a.follow-us-link {
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #45ac9d;
    text-transform: uppercase;
    padding-left: 40px;
}
.stt-em a{
  display: none;
}

/* Case Studies */

article.case-study {
	clear: both;
	margin:40px 0 0;
}
aside.case-study-sidebar {
	float: left;
	width: 314px;
	margin:0 40px 0 0;
}
aside.case-study-sidebar h5 {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.33333;
    margin: 0 0 12px;
}
aside.case-study-sidebar h6 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0 0 50px;
}
div.case-study-images {
	float:left;
	width:606px;
}
div.case-study-images img {
	border: 1px solid #dddddd;
	margin-bottom: 100px;
}

/* About Page */
/* Hero pic */
.home-page {
    height: 360px;
    padding-top: 1px;
}
.hero-text h3 {
    max-width: 550px;
    margin: 0 auto;
    padding-top: 3.5em;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.75px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: normal;
}
.main-color {
    color: #45AC9D;
}

/* Services Intro */
.services-intro {
	text-align: center;
	padding: 10px 0 60px 0;
}
.about-title {
	text-transform: uppercase;
    padding-bottom: 10px;
    color: #555;
    font-weight: 700;
}

/* Services */
.about-services {
	clear: both;
	overflow: hidden;
}
.about-services h2 {
	font-weight: 600;
	padding-bottom: 15px;
}

.services,
.services-odd {
    overflow: auto;
	margin-bottom: 40px;
	
}
.services .icon {
    float: left;
    width: 30%;
    margin-right: 2%;
}
.services-odd .icon {
    float: right;
    width: 30%;
    margin-left: 2%;
}
.description {
    float: left;
    width: 68%;
}

/* About Page Contact Section */
.about-contact {
	margin-top: 50px;
    border-top: 1px dotted #e3e1e1;
	text-align: center;
}
.contact-description {
	margin-top: 30px;
	display: inline-block;
}
.contact-button {
	margin-left: 10%;
	display: inline-block;
}

 /* Contact Page and Ninja Contact Form */
 .contact-page {
	 width: 70%;
	 margin: 50px auto;
 }
 
/* Ninja contact form */	
#nf-field-17 {
	height: 2.5em;
	border: 1px solid #909090;
} 
#nf-field-18 {
	height: 2.5em;
	border: 1px solid #909090;
} 
#nf-field-19 {
	height: 10.5em;
	border: 1px solid #909090;
}
.nf-field-label {
	font-size: .8em;
	color: #666;
}

/* Contact Form Send button */
#nf-field-20 {
	float: right;
	background-color: #45ac9d;
	color: #fff;
	width: 12.5em;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: .1em;
	padding: 1.1em;
}

/* Contact Form Success Message */
.success-page {
	 width: 70%;
	 margin: auto;
	 text-align: center;
 }
.success-page h2 {
	color: #45ac9d;
}

/* Sidebar */
.sidebar .widget ul {
    list-style-type: none;
}
.widgettitle {
    color: #45ac9d;
    font-size: 1em;
    font-weight: 600;
    margin: 20px 0 5px;
}
.widget_search {
    border-bottom: 1px solid #BFBFBF;
    padding: 28px 31px;
    position: relative;
}
.widget li {
    color: #333;
    margin-left: -20px;
}

/* Mailchimp Newsletter */
#mc4wp_form_widget-2 h2 .widget-title {
   font-size: 1.2em;
   text-align: center;
}
/*#mc4wp_widget-2 label {
    display: none;
}*/
#mc4wp-form-1 p:nth-child(2) {
  text-align: center;
}
#mc4wp-form-1 input[type="submit"]{
  width: 80%;
  background-color: #45AC9D;
  padding: 10px;
  font-size: 0.9em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #A8A6A6;
  margin-bottom: 5px;
}

/* Footer Styles */
.site-description a{
	color: #45ac9d;
}

.social-media-nav li {
	display: inline-block;
	background: rgba(0,0,0,0.8);
	margin:0 3px;
	padding: 10px 0;
	width: 40px;
	list-style-type:none;
	border-radius: 100%;
	text-align: center;
	font-size: 0.7em;
	-webkit-border-radius: 100%; 
    -moz-border-radius: 100%;
}
.social-media-nav li a {
	color: white;
}